.board {
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: repeat(4, 10rem);
  border-radius: 1rem;
  background-color: $color-board;
  padding: 1rem;
  gap: 1rem;
  width: max-content;
  &-tile {
    background-color: rgba($color-board-tile, $alpha: 0.3);
    border-radius: inherit;
  }
}
.game-container{
    width: max-content;
    margin: 5rem auto;
}